.portfolio-content {
  margin-top: 40px;
}

.portfolio-content-title {
  margin: 40px 0 20px 0;
  color: #26c17e;
}

.portfolio-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card-text {
  display: flex;
  flex-direction: column;
  width: 308px;
  gap: 10px;
  padding: 20px 15px 30px 15px;
  border: 1px solid #eeeeee;
  width: 278px;
}

.card-text h4 {
  color: #26c17e;
}

.card-text-title {
  font-weight: bold;
}

.portfolio-cards img {
  width: 350px;
}
