* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  padding: 10px 20px;
  width: fit-content;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #222935;
  color: #ffffff;
  line-height: 19.2px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.button:hover {
  background-color: #26c17e;
  color: #222935;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.resume-body {
  display: flex;
  height: fit-content;
}

h3 {
  color: #26c17e;
  font-size: 25px;
  line-height: 30px;
}

p {
  color: #222935;
  line-height: 21px;
  size: 14px;
  text-align: justify;
}
